<div ng-controller='orderController as OC'>
	<h2>Add a New Order</h2>
	<form role="form">
		Customer: <select ng-model='OC.thisCust'>
			<option ng-repeat='customer in OC.customers'>{{ customer.name }}</option>
		</select>
		Quantity: <input ng-model='OC.thisQty' type='number' min='0'>
		Product: <select ng-model='OC.thisProd'>
			<option ng-repeat='product in OC.products'>{{ product }}</option>
		</select>
		<input type='submit' value='GET IT' ng-click='OC.createOrder()'>
	</form>
	<input id='serch' type='text' ng-model='filter' placeholder='search'><br>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Quantity</th>
				<th>Product</th>
				<th>Date</th>
			</tr>
		<tbody>
			<tr ng-repeat='order in OC.orders | filter: filter'>
				<td>{{order.customer}}</td>
				<td>{{order.quantity}}</td>
				<td>{{order.product}}</td>
				<td>{{order.createdAt | date: "MMMM, d yyyy 'at' h:mma"}}</td>
			</tr>
		</tbody>
		</thead>
	</table>
</div>